* {
    font-family: 'Assistant', sans-serif;
    font-size: 18px;
    text-transform: none;
  }

body {
    border: solid #ede6e5;
    /* border: solid #014636; */
    border-width: 50px;
    /* margin-bottom: 100px;
    margin-top: 50px; */
}
  
  h1  {
    /* font-family: 'Work Sans', sans-serif; */
    font-size: 55px;
    text-transform: none;
    font-weight: 600;
  }

  h2  {
    /* font-family: 'Work Sans', sans-serif; */
    font-size: 25px;
    text-transform: none;
    font-weight: 600;
  }

  h3  {
    /* font-family: 'Work Sans', sans-serif; */
    font-size: 18px;
    text-transform: none;
    font-weight: 600;
  }

  #container {
    max-width: 1000px;
    margin: 0 auto;
    /* text-align: justify; */
  }

  #title {
    margin: auto;
    margin-top: 50px;
    text-align: center;
    width: 70%;
    /* border: 3px solid green; */
    padding: 10px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    /* color: #016858; */
  }

  #subtitle {
    text-align: center;
  }
  
  .flex-container {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
    column-gap: 40px;
    margin: 0 auto;
  }
  
  .flex-item {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    width: 50%;
  }

  .source {
    font-size: 12px;
  }

  #donut-text {
    flex-basis: 30%;
  }

  #line-chart-text {
    flex-basis: 40%;
  }

  #ridership-multiple {
    flex-basis: 70%;
    margin-top: 25px;
  }

  #ridership-multiple text{
    font-size: 23px;
  }

  #race-public-transport text {
    font-size: 10px;
  }

  #race-pop-legend text {
    font-size: 10px;
  }

  .legend svg {
    width: 50%;
  }

  .legend text{
    font-size: 18px;
  }

  .choropleth {
    flex-basis: 30%;
  }

  #choropleths {
    column-gap: 0;
  }

  #commute-times-legend svg{
    width: 500px;
  }

  #race-public-transport text{
    font-size: 15px;
  }
